[Desktop Entry]
Name=Caruzo
Comment=Decoração de janelas escura com destaque verde
X-KDE-PluginInfo-Author=Gabriel Fialho
X-KDE-PluginInfo-Email=bicouts@gmail.com
X-KDE-PluginInfo-Website=https://github.com/gfialhob/Caruzo-KDE
X-KDE-PluginInfo-Name=Caruzo
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Version=1.1.0
X-KDE-PluginInfo-License=CC0
